body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F0F0F0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.container {
  text-align: center;
}

button {
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #007BFF;
  background: #007BFF;
  color: #FFF;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: #0056b3;
  transform: translateY(-2px);
}

button.selected {
  background: #0056b3;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.big-width {
  width: 100%;
}

button.previous {
  background: #6c757d;
}

button.submit {
  background: #28a745;
}

.answer-info {
  margin-top: 10px;
  font-weight: bold;
}

.score-container {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.app-container {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.app-header {
  background: #007BFF;
  padding: 20px;
  color: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.app-header h1 {
  margin: 0;
  font-size: 2.5em;
}

.app-main {
  margin-top: 20px;
  color: #333;
}
